Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: yes       # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null          # branch names that can post comment
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: false
  aws_integration:
    paths:
      - "databricks/*.go"
    carryforward: true
  azure_integration:
    paths:
      - "databricks/*.go"
    carryforward: true

fix grammar error
  website/content/Provider/_index.md
Due: none

Add pkg/errors
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/modules.txt
Due: none

Register permissions api in the client
  client/service/apis.go
Due: client

Minor commenting tweaks
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/resource_databricks_permissions_test.go
  go.mod
Due: client

Added databricks_permissions resource
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/provider.go
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
Due: client, provider, aws_integration, azure_integration

Added real unit tests for resource
  CONTRIBUTING.md
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
  databricks/utils_test.go
  go.sum
Due: provider, aws_integration, azure_integration

trigger build
  databricks/resource_databricks_permissions_test.go
Due: none

Fix code style violations
  CONTRIBUTING.md
  databricks/azure_auth.go
  databricks/mounts_test.go
  databricks/provider.go
  databricks/resource_databricks_group_instance_profile.go
  databricks/resource_databricks_group_member.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

Added make install
  Makefile
  databricks/mounts.go
Due: provider, aws_integration, azure_integration

make build will also test now (provider + client)
  .travis.yml
  Makefile
Due: none

Added more coverage for edge cases on permissions
  client/model/notebook.go
  client/service/client.go
  client/service/clusters_test.go
  client/service/notebooks.go
  client/service/notebooks_test.go
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

try fixing build
  .travis.yml
Due: none

test linter failing build
  databricks/resource_databricks_permissions.go
Due: provider, aws_integration, azure_integration

remove fmt from lint
  Makefile
Due: none

format it back
  databricks/resource_databricks_permissions.go
Due: provider, aws_integration, azure_integration
