Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: yes       # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null          # branch names that can post comment
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: false
  aws_integration:
    paths:
      - "databricks/*.go"
    carryforward: true
  azure_integration:
    paths:
      - "databricks/*.go"
    carryforward: true

rename IsAzure method & fix node type for auto cluster
  client/service/apis.go
  client/service/clusters.go
  client/service/instance_pools_test.go
  client/service/main_test.go
  client/service/test_util.go
  databricks/resource_databricks_azure_adls_gen1_mount_test.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
Due: client

sort node type by memory and cpu
  client/service/clusters.go
Due: client

Add 62% coverage for reflect resource
  internal/reflect_resource_test.go
Due: none

More unit tests
  internal/sanity/utils_test.go
  internal/utils.go
  internal/utils_test.go
Due: none

fix failing test: linting
  client/service/clusters.go
Due: client

sort by alle useful node properties
  client/model/cluster.go
  client/service/clusters.go
  client/service/clusters_test.go
Due: client

Added version tracking from git
  .goreleaser.yml
  Makefile
  common/client.go
  common/version.go
  main.go
Due: none

Integrated new version scheme
  common/azure_auth_test.go
  common/client.go
  common/client_test.go
  common/common.go
  common/http_test.go
  internal/acceptance/acceptance.go
  internal/qa/testing.go
  main.go
  provider/generate_test.go
  provider/provider.go
  provider/provider_test.go
Due: none

Added environment-based test
  common/commands_test.go
  common/env.go
  common/env_test.go
  compute/clusters.go
  compute/commands.go
  compute/commands_test.go
  compute/common_instances_test.go
  compute/zones.go
  compute/zones_test.go
  internal/qa/testing.go
  storage/resource_dbfs_file_test.go
Due: none

Added tf:group support
  compute/model.go
  internal/reflect_resource.go
  internal/reflect_resource_test.go
Due: none

added usable error messages for mws resources
  mws/mws.go
  mws/resource_credentials.go
  mws/resource_network.go
  mws/resource_storage.go
  mws/resource_workspace.go
Due: none

added impl for computed values via reflection and fixed issues with instance pool still needs update to docs.
  client/model/cluster.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  databricks/util/reflect_resource.go
  databricks/util/reflect_resource_test.go
  go.mod
  go.sum
  vendor/github.com/stretchr/testify/require/require.go
Due: client, provider, aws_integration, azure_integration

remove tf:group
  internal/reflect_resource.go
  internal/reflect_resource_test.go
Due: none

added customize to the result of DataToStructPointer the same way that StructToSchema uses a customize function
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_job.go
  databricks/util/reflect_resource.go
Due: provider, aws_integration, azure_integration

fixed typo and removed unnecessary comments
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
Due: provider, aws_integration, azure_integration

go mod tidy
  go.mod
  go.sum
Due: none

Made user friendly errors for provider mix
  common/http.go
  common/http_test.go
  mws/mws.go
  mws/resource_credentials.go
  mws/resource_network.go
  mws/resource_storage.go
  mws/resource_workspace.go
Due: none

Removed redundant prefix, that repeated package name
  mws/acceptance/credentials_test.go
  mws/acceptance/network_test.go
  mws/acceptance/storage_test.go
  mws/acceptance/workspace_test.go
  mws/cmk.go
  mws/mws.go
  mws/mws_test.go
  mws/resource_credentials.go
  mws/resource_credentials_test.go
  mws/resource_network.go
  mws/resource_network_test.go
  mws/resource_storage.go
  mws/resource_storage_test.go
  mws/resource_workspace.go
  mws/resource_workspace_test.go
Due: none

Make test generator working with new template
  provider/generate_test.go
Due: none

modify codecov
  codecov.yml
Due: none

TestCommandMock fix
  common/commands_test.go
Due: none

Re-integrated IP ACL lists with latest refactors
  access/ip_access_list.go
  access/resource_databricks_ipaccesslist.go
  access/resource_databricks_ipaccesslist_test.go
  docs/resources/ip_acl_lists.md
  mws/resource_databricks_workspace_conf.go
  mws/resource_databricks_workspace_conf_test.go
  mws/workspace_configrations.go
  mws/workspace_configrations_integration_test.go
  provider/provider.go
  website/content/Resources/ip_acl_lists.md
Due: none

Added testing for auth edge cases
  .gitignore
  common/azure_auth.go
  common/env.go
  go.mod
  provider/provider.go
  provider/provider_test.go
Due: none

make user test
  identity/resource_scim_user.go
  identity/resource_scim_user_test.go
  provider/generate_test.go
Due: none

jobs additional acceptance test without instance pools for jobs to test aws attribute propagation
  compute/acceptance/job_test.go
Due: none

refactored using NewClustersAPI
  compute/commands.go
Due: none

stubs for documentation
  docs/stubs/aws_s3_mount.md
  docs/stubs/azure_adls_gen1_mount.md
  docs/stubs/azure_adls_gen2_mount.md
  docs/stubs/azure_blob_mount.md
  docs/stubs/cluster.md
  docs/stubs/cluster_policy.md
  docs/stubs/dbfs_file.md
  docs/stubs/group.md
  docs/stubs/group_instance_profile.md
  docs/stubs/group_member.md
  docs/stubs/instance_pool.md
  docs/stubs/instance_profile.md
  docs/stubs/job.md
  docs/stubs/mws_credentials.md
  docs/stubs/mws_networks.md
  docs/stubs/mws_storage_configurations.md
  docs/stubs/mws_workspaces.md
  docs/stubs/notebook.md
  docs/stubs/permissions.md
  docs/stubs/scim_group.md
  docs/stubs/scim_user.md
  docs/stubs/secret.md
  docs/stubs/secret_acl.md
  docs/stubs/secret_scope.md
  docs/stubs/token.md
Due: none

removed defer cleanupenvironment (it is not needed)
  common/commands_test.go
Due: none

stubs for documentation (#248)
  docs/stubs/aws_s3_mount.md
  docs/stubs/azure_adls_gen1_mount.md
  docs/stubs/azure_adls_gen2_mount.md
  docs/stubs/azure_blob_mount.md
  docs/stubs/cluster.md
  docs/stubs/cluster_policy.md
  docs/stubs/dbfs_file.md
  docs/stubs/group.md
  docs/stubs/group_instance_profile.md
  docs/stubs/group_member.md
  docs/stubs/instance_pool.md
  docs/stubs/instance_profile.md
  docs/stubs/job.md
  docs/stubs/mws_credentials.md
  docs/stubs/mws_networks.md
  docs/stubs/mws_storage_configurations.md
  docs/stubs/mws_workspaces.md
  docs/stubs/notebook.md
  docs/stubs/permissions.md
  docs/stubs/scim_group.md
  docs/stubs/scim_user.md
  docs/stubs/secret.md
  docs/stubs/secret_acl.md
  docs/stubs/secret_scope.md
  docs/stubs/token.md
Due: none

modified function names
  compute/resource_cluster.go
  compute/resource_job.go
Due: none

Initial commit for SCIM refactor
  identity/data_default_user_roles.go
  identity/groups.go
  identity/resource_group_member.go
  identity/resource_scim_user.go
  identity/resource_scim_user_test.go
  identity/scim.go
  identity/users.go
  internal/qa/testing.go
Due: none

Make aws_attributes mandatory for clusters created within instance pool (#231)
  .travis.yml
  Makefile
  access/resource_secret_test.go
  common/azure_auth.go
  common/azure_auth_test.go
  common/client.go
  common/commands_test.go
  common/env_test.go
  compute/acceptance/cluster_test.go
  compute/acceptance/job_test.go
  compute/clusters.go
  compute/commands.go
  compute/commands_test.go
  compute/common_instances_test.go
  compute/data_zones.go
  compute/data_zones_test.go
  compute/model.go
  compute/resource_cluster.go
  compute/resource_cluster_test.go
  compute/resource_job.go
  identity/acceptance/resource_scim_user_test.go
  identity/acceptance/token_test.go
  identity/resource_group_instance_profile_test.go
  identity/scim.go
  internal/acceptance/acceptance.go
  internal/qa/testing.go
  internal/reflect_resource.go
  internal/reflect_resource_test.go
  internal/sanity/util.go
  internal/utils.go
  mws/resource_credentials_test.go
  mws/resource_network_test.go
  mws/resource_storage_test.go
  mws/resource_workspace_test.go
  provider/provider_test.go
  workspace/resource_notebook_test.go
Due: none

fix test
  identity/resource_scim_user.go
  identity/resource_scim_user_test.go
Due: none

s3 & adls 1 mounts
  docs/resources/aws_s3_mount.md
  docs/resources/azure_adls_gen1_mount.md
  docs/stubs/aws_s3_mount.md
  docs/stubs/azure_adls_gen1_mount.md
  storage/acceptance/adls_gen1_test.go
  website/content/Resources/aws_s3_mount.md
  website/content/Resources/azure_adls_gen1_mount.md
Due: none

it complies
  storage/acceptance/adls_gen1_test.go
Due: none
