Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: yes       # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null          # branch names that can post comment
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: false
  aws_integration:
    paths:
      - "databricks/*.go"
    carryforward: true
  azure_integration:
    paths:
      - "databricks/*.go"
    carryforward: true

Increased API connection timeouts and support instance profile import (#199)
  client/service/client.go
  databricks/resource_databricks_instance_profile.go
Due: client, provider, aws_integration, azure_integration

Change Errorf to EqualError
  databricks/resource_databricks_cluster_policy_test.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_group_test.go
  databricks/resource_databricks_instance_pool_test.go
  databricks/resource_databricks_instance_profile_test.go
  databricks/resource_databricks_job_test.go
  databricks/resource_databricks_mws_credentials_test.go
  databricks/resource_databricks_mws_networks_test.go
  databricks/resource_databricks_mws_storage_configurations_test.go
  databricks/resource_databricks_mws_workspaces_test.go
  databricks/resource_databricks_notebook_test.go
  databricks/resource_databricks_permissions_test.go
  databricks/resource_databricks_secret_acl_test.go
  databricks/resource_databricks_secret_scope.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_secret_test.go
  databricks/resource_databricks_token_test.go
Due: provider, aws_integration, azure_integration

Tuned secret redaction in logs
  client/service/apis.go
  client/service/http.go
Due: client

Blob mounts stability step 1 - common pieces
  client/model/cluster.go
  client/service/azure_auth.go
  client/service/azure_auth_test.go
  client/service/clusters.go
  client/service/commands.go
  client/service/commands_test.go
  client/service/test_util.go
  databricks/mounts.go
  databricks/mounts_test.go
  databricks/resource_databricks_aws_s3_mount.go
  databricks/resource_databricks_azure_adls_gen1_mount.go
  databricks/resource_databricks_azure_adls_gen1_mount_test.go
  databricks/resource_databricks_azure_adls_gen2_mount.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/tools_test.go
  databricks/utils.go
  databricks/utils_test.go
  scripts/azure-integration/main.tf
Due: client, provider, aws_integration, azure_integration

Added cluster policy to cluster & job resources
  client/model/cluster.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_job.go
  docs/resources/cluster.md
  website/content/Resources/cluster.md
Due: client, provider, aws_integration, azure_integration

migrated docs
  docs/resources/instance_profile.md
Due: none

Added todo comment, updated doc and added website doc
  client/service/workspace_configrations.go
  website/content/Resources/ip_acl_lists.md
Due: client

rename genericQuery2 to genericQuery
  client/service/azure_auth.go
  client/service/commands.go
  client/service/http.go
  databricks/resource_databricks_secret_scope.go
Due: client, provider, aws_integration, azure_integration

cleaned up http client
  CONTRIBUTING.md
  client/service/azure_auth_test.go
  client/service/clusters_test.go
  client/service/http.go
  client/service/instance_profiles_test.go
  client/service/secret_scopes_test.go
  client/service/tokens_test.go
  client/service/users_test.go
  databricks/resource_databricks_group_test.go
  databricks/resource_databricks_instance_profile_test.go
  databricks/resource_databricks_mws_credentials_test.go
  databricks/resource_databricks_mws_networks_test.go
  databricks/resource_databricks_mws_storage_configurations_test.go
  databricks/resource_databricks_mws_workspaces_test.go
  databricks/resource_databricks_permissions_test.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_token_test.go
Due: client

applied review comments
  client/model/job.go
  client/model/library.go
  client/service/apis.go
  client/service/commands.go
  client/service/groups_test.go
  client/service/libraries.go
  client/service/main_test.go
  databricks/provider_test.go
  databricks/resource_databricks_job.go
  databricks/resource_databricks_job_test.go
Due: client, provider, aws_integration, azure_integration

cluster & job resources based on reflection
  CONTRIBUTING.md
  Makefile
  client/model/cluster.go
  client/model/cluster_test.go
  client/model/job.go
  client/model/library.go
  client/model/library_test.go
  client/service/clusters.go
  client/service/clusters_test.go
  client/service/commands.go
  client/service/http.go
  client/service/jobs.go
  client/service/jobs_test.go
  client/service/libraries.go
  client/service/libraries_test.go
  databricks/mounts.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_job.go
  databricks/resource_databricks_job_test.go
  databricks/util/reflect_resource.go
  databricks/utils.go
  databricks/utils_test.go
  go.mod
Due: client, provider, aws_integration, azure_integration

Make unit tests pass
  Makefile
  client/model/cluster.go
  client/model/library.go
  client/model/library_test.go
  client/service/clusters_test.go
  client/service/jobs_test.go
  client/service/libraries_test.go
  client/service/main_test.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_job_test.go
  databricks/util/reflect_resource.go
Due: client, provider, aws_integration, azure_integration

fix problems
  client/model/mws.go
  client/service/mws_workspaces.go
  databricks/resource_databricks_mws_workspaces_test.go
Due: client

Add importers to simple resources
  databricks/resource_databricks_cluster_policy.go
  databricks/resource_databricks_group.go
  databricks/resource_databricks_instance_pool.go
  databricks/resource_databricks_instance_profile.go
  databricks/resource_databricks_secret_scope.go
  databricks/resource_databricks_token.go
Due: provider, aws_integration, azure_integration

add cluster update coverage
  client/model/library.go
  client/service/clusters.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
Due: client, provider, aws_integration, azure_integration

Initial commit on multi-environment testing
  CONTRIBUTING.md
  Makefile
  client/service/commands_test.go
  databricks/resource_databricks_mws_workspaces_test.go
  scripts/aws-integration/main.tf
  scripts/aws-integration/require_env
  scripts/mws-integration/main.tf
  scripts/mws-integration/prereqs.tf
  scripts/mws-integration/require_env
  scripts/run.sh
Due: none

Added more testing environments
  CONTRIBUTING.md
  Makefile
  scripts/awsmt-integration/main.tf
  scripts/awsmt-integration/require_env
  scripts/awsst-integration/require_env
  scripts/azsp-integration/main.tf
  scripts/azsp-integration/require_env
  scripts/run.sh
Due: none

moving to named return variables
  client/service/ip_access_list.go
  client/service/workspace_configrations.go
  databricks/resource_databricks_ipaccesslist.go
  databricks/resource_databricks_workspace_conf.go
Due: client, provider, aws_integration, azure_integration

Fixed MWS resource consistency bugs
  CONTRIBUTING.md
  Makefile
  client/service/apis.go
  client/service/http.go
  databricks/provider_test.go
  databricks/resource_databricks_mws_credentials_test.go
  databricks/resource_databricks_mws_networks.go
  databricks/resource_databricks_mws_networks_test.go
  databricks/resource_databricks_mws_storage_configurations_test.go
  databricks/resource_databricks_mws_workspaces.go
  databricks/resource_databricks_mws_workspaces_test.go
  databricks/utils.go
  databricks/utils_test.go
  scripts/mws-integration/main.tf
  scripts/run.sh
Due: client, provider, aws_integration, azure_integration

Fixed more bugs
  .env.template
  .vscode/launch.json
  CONTRIBUTING.md
  Makefile
  client/service/apis.go
  client/service/apis_test.go
  client/service/clusters.go
  client/service/clusters_test.go
  client/service/commands_test.go
  client/service/http.go
  client/service/instance_pools_test.go
  client/service/jobs.go
  client/service/main_test.go
  client/service/mws_credentials_integration_test.go
  client/service/mws_customer_managed_keys_integration_test.go
  client/service/mws_networks_integration_test.go
  client/service/mws_storage_configurations_integration_test.go
  client/service/mws_workspaces_integration_test.go
  client/service/test_util.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_job_test.go
  databricks/resource_databricks_mws_credentials_test.go
  databricks/resource_databricks_mws_networks_test.go
  databricks/resource_databricks_permissions_test.go
  databricks/resource_databricks_scim_user_test.go
  databricks/utils_test.go
  scripts/README.md
  scripts/awsst-integration/require_env
  scripts/azcli-integration/main.tf
  scripts/azsp-integration/main.tf
  scripts/azure-integration/README.md
  scripts/azure-integration/run.sh
  scripts/mws-integration/README.MD
  scripts/mws-integration/run.sh
  scripts/run.sh
Due: client, provider, aws_integration, azure_integration

fix
  Makefile
Due: none

remove flaky tests
  databricks/provider_test.go
Due: none

Make example work with v0.2.3
  scripts/awsmt-integration/main.tf
Due: none

FIX added one more v0.2.3 compatibility
  scripts/awsmt-integration/main.tf
Due: none

added failing int test case
  databricks/resource_databricks_cluster_test.go
Due: none

add missing json tags for ADLS2 mounts
  databricks/resource_databricks_azure_adls_gen2_mount.go
Due: provider, aws_integration, azure_integration

add omitempty to directory
  databricks/resource_databricks_azure_adls_gen2_mount.go
Due: provider, aws_integration, azure_integration

FIX add missing json tags for ADLS2 mounts (#216)
  databricks/resource_databricks_azure_adls_gen2_mount.go
Due: provider, aws_integration, azure_integration

fix docs for notebooks to identify that DBC is not a supported format. (#182)
  docs/resources/notebook.md
  website/content/Resources/notebook.md
Due: none

allow cluster resizing when executing commands
  client/model/cluster.go
  client/service/clusters.go
  client/service/commands.go
  databricks/mounts.go
  databricks/resource_databricks_cluster.go
Due: client, provider, aws_integration, azure_integration

FIX allow cluster resizing when executing commands (#219)
  client/model/cluster.go
  client/service/clusters.go
  client/service/commands.go
  databricks/mounts.go
  databricks/resource_databricks_cluster.go
Due: client, provider, aws_integration, azure_integration

change Azure check
  client/service/apis.go
Due: client
