Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: yes       # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null          # branch names that can post comment
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: false
  aws_integration:
    paths:
      - "databricks/*.go"
    carryforward: true
  azure_integration:
    paths:
      - "databricks/*.go"
    carryforward: true

Added instructions
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

fix sparkVersions list in databricks_instance_pool (#153)
  databricks/resource_databricks_instance_pool.go
Due: provider, aws_integration, azure_integration

Install from source fix & doc (#154)
  .travis.yml
  CONTRIBUTING.md
  Makefile
  README.md
Due: none

fix instance pool update recursive call
  databricks/resource_databricks_instance_pool.go
Due: provider, aws_integration, azure_integration

fix instance pool update recursive call (#155)
  databricks/resource_databricks_instance_pool.go
Due: provider, aws_integration, azure_integration

Fix Notebook issues (#111)
  client/model/notebook.go
  client/service/client.go
  client/service/notebooks.go
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_notebook_test.go
  databricks/testdata/tf-test-dbc.dbc
  databricks/testdata/tf-test-dbc2.dbc
  databricks/testdata/tf-test-html.html
  databricks/testdata/tf-test-jupyter.ipynb
  databricks/testdata/tf-test-python.py
  databricks/testdata/tf-test-python2.py
  databricks/testdata/tf-test-r.r
  databricks/testdata/tf-test-r2.r
  databricks/testdata/tf-test-scala.scala
  databricks/testdata/tf-test-scala2.scala
  databricks/testdata/tf-test-sql.sql
  databricks/testdata/tf-test-sql2.sql
  databricks/utils_test.go
  docs/resources/notebook.md
Due: client, provider, aws_integration, azure_integration

Made unit tests passing on refactoring
  client/service/apis.go
  client/service/azure_auth.go
  client/service/azure_auth_test.go
  client/service/client_test.go
  client/service/cluster_policies.go
  client/service/clusters.go
  client/service/commands.go
  client/service/dbfs.go
  client/service/groups.go
  client/service/http.go
  client/service/http_test.go
  client/service/instance_pools.go
  client/service/instance_profiles.go
  client/service/jobs.go
  client/service/libraries.go
  client/service/main_test.go
  client/service/mws_credentials.go
  client/service/mws_customer_managed_keys.go
  client/service/mws_networks.go
  client/service/mws_storage_configurations.go
  client/service/mws_workspaces.go
  client/service/notebooks.go
  client/service/permissions.go
  client/service/secret_acls.go
  client/service/secret_scopes.go
  client/service/secrets.go
  client/service/tokens.go
  client/service/users.go
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_dbfs_file_sync.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

Useful stuff
  client/service/apis.go
  client/service/cluster_policies.go
  client/service/clusters.go
  client/service/commands.go
  client/service/dbfs.go
  client/service/groups.go
  client/service/instance_pools.go
  client/service/instance_profiles.go
  client/service/jobs.go
  client/service/libraries.go
  client/service/mws_credentials.go
  client/service/mws_customer_managed_keys.go
  client/service/mws_networks.go
  client/service/mws_storage_configurations.go
  client/service/mws_workspaces.go
  client/service/notebooks.go
  client/service/permissions.go
  client/service/secret_acls.go
  client/service/secret_scopes.go
  client/service/secrets.go
  client/service/tokens.go
  client/service/users.go
  databricks/resource_databricks_notebook_test.go
Due: client

Added codecov badge
  README.md
Due: none

map WHL libraries
  databricks/resource_databricks_job.go
Due: provider, aws_integration, azure_integration

bug fix - use ARM_SUBSCRIPTION_ID env var for azure_auth if evists
  databricks/provider.go
Due: provider, aws_integration, azure_integration

First pass on ipaccesslists with enterprise example
  databricks/provider.go
  databricks/resource_databricks_ipaccesslists.go
  examples/enterprise-azure-deployment/apply.sh
  examples/enterprise-azure-deployment/destroy.sh
  examples/enterprise-azure-deployment/main.tf
  examples/enterprise-azure-deployment/plan.sh
  examples/enterprise-azure-deployment/variables.tf
Due: provider, aws_integration, azure_integration

Tied a few things together, need to work out the tie-in for optional at the top level
  databricks/resource_databricks_ipaccesslists.go
  examples/enterprise-azure-deployment/main.tf
Due: provider, aws_integration, azure_integration

Added AZ CLI login authention provider
  client/service/apis.go
  client/service/azure_auth.go
  client/service/http.go
  databricks/provider_test.go
  databricks/utils_test.go
  integration-environment-azure/prereqs.tf
  scripts/azure-integration/README.md
  scripts/azure-integration/main.tf
  scripts/azure-integration/run.sh
  scripts/mws-integration/README.MD
  scripts/mws-integration/prereqs.tf
  scripts/mws-integration/run.sh
  scripts/mws-integration/templates/cross_account_role_assume_policy.tpl
  scripts/mws-integration/templates/cross_account_role_policy.tpl
  scripts/mws-integration/templates/storage_bucket_policy.tpl
Due: client

fi
  client/service/apis.go
Due: client

apply format
  client/service/dbfs_test.go
  client/service/http.go
  client/service/instance_profiles_test.go
  databricks/provider_test.go
  go.mod
  go.sum
Due: client

Applied vendor updates and lint
  client/service/apis.go
  client/service/azure_auth.go
  client/service/http.go
  databricks/provider_test.go
  go.mod
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/LICENSE
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/auth.go
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/go.mod
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/auth/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/LICENSE
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.mod
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/profile.go
  vendor/github.com/Azure/go-autorest/autorest/azure/cli/token.go
  vendor/github.com/dimchansky/utfbom/.gitignore
  vendor/github.com/dimchansky/utfbom/.travis.yml
  vendor/github.com/dimchansky/utfbom/LICENSE
  vendor/github.com/dimchansky/utfbom/README.md
  vendor/github.com/dimchansky/utfbom/go.mod
  vendor/github.com/dimchansky/utfbom/utfbom.go
  vendor/github.com/hashicorp/hcl/.gitignore
  vendor/github.com/hashicorp/hcl/Makefile
  vendor/github.com/mitchellh/copystructure/README.md
  vendor/github.com/spf13/afero/.travis.yml
  vendor/golang.org/x/crypto/pkcs12/bmp-string.go
  vendor/golang.org/x/crypto/pkcs12/crypto.go
  vendor/golang.org/x/crypto/pkcs12/errors.go
  vendor/golang.org/x/crypto/pkcs12/internal/rc2/rc2.go
  vendor/golang.org/x/crypto/pkcs12/mac.go
  vendor/golang.org/x/crypto/pkcs12/pbkdf.go
  vendor/golang.org/x/crypto/pkcs12/pkcs12.go
  vendor/golang.org/x/crypto/pkcs12/safebags.go
  vendor/modules.txt
Due: client

refactored dbfs files with unit testing; introduced source field and content_b64_checksum; unit & integration testing for dbfs files
  client/model/dbfs.go
  client/service/dbfs.go
  client/service/dbfs_integration_test.go
  client/service/dbfs_test.go
  databricks/resource_databricks_dbfs_file.go
  databricks/resource_databricks_dbfs_file_test.go
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_notebook_test.go
  databricks/utils.go
  databricks/utils_test.go
  docs/resources/dbfs_file.md
Due: client, provider, aws_integration, azure_integration

refactored handling of DBFS Parent Directory generation into its own handler function; fixed the documentation for the terraform settings
  databricks/resource_databricks_dbfs_file.go
  docs/resources/dbfs_file.md
  docs/resources/notebook.md
  website/content/Resources/dbfs_file.md
  website/content/Resources/notebook.md
Due: provider, aws_integration, azure_integration

used http.DefaultTransport to inherit system properties for proxy settings and etc.
  client/service/client.go
Due: client

used http.DefaultTransport to inherit system properties for proxy settings and etc. (#172)
  client/service/client.go
Due: client

fixed test to include aws_attributes for InstancePools
  databricks/resource_databricks_cluster_test.go
Due: none

fmt fix
  databricks/resource_databricks_cluster_test.go
Due: none

updated docs for clusters & instance_pools
  website/content/Resources/cluster.md
  website/content/Resources/instance_pool.md
Due: none

DBFS Refactor & Fixes to support larger files (#171)
  client/model/dbfs.go
  client/service/dbfs.go
  client/service/dbfs_integration_test.go
  client/service/dbfs_test.go
  databricks/resource_databricks_dbfs_file.go
  databricks/resource_databricks_dbfs_file_test.go
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_notebook_test.go
  databricks/utils.go
  databricks/utils_test.go
  docs/resources/dbfs_file.md
  docs/resources/notebook.md
  website/content/Resources/dbfs_file.md
  website/content/Resources/notebook.md
Due: client, provider, aws_integration, azure_integration

added docs for datasource: zones, resource: group, group_instance_profile, group_member; fixed docs for dbfs_file
  docs/data-sources/zones.md
  docs/resources/dbfs_file.md
  docs/resources/group.md
  docs/resources/group_instance_profile.md
  docs/resources/group_member.md
  website/content/Data Sources/_index.md
  website/content/Data Sources/zones.md
  website/content/Resources/group.md
  website/content/Resources/group_instance_profile.md
  website/content/Resources/group_member.md
Due: none

bumped autorest from v0.11.0 to v0.11.2
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/modules.txt
Due: none

Docs update (#177)
  docs/data-sources/zones.md
  docs/resources/dbfs_file.md
  docs/resources/group.md
  docs/resources/group_instance_profile.md
  docs/resources/group_member.md
  website/content/Data Sources/_index.md
  website/content/Data Sources/zones.md
  website/content/Resources/group.md
  website/content/Resources/group_instance_profile.md
  website/content/Resources/group_member.md
Due: none

Notebook fix (#175)
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_notebook_test.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

Cluster instance pool fix (#174)
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  website/content/Resources/cluster.md
  website/content/Resources/instance_pool.md
Due: provider, aws_integration, azure_integration
