Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

codecov.yml:

ignore:
  - "client/**/*test.go"
  - "databricks/*test.go"
  - "vendor/**/*"
  - "website/**/*"
  - "dist/**/*"
  - "examples/**/*"

coverage:
  status:
    project:
      client:
        target: auto
        flags:
          - client
      provider:
        target: auto
        flags:
          - provider
comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false  # if true: only post the comment if coverage changes
  require_base: yes       # [yes :: must have a base report to post]
  require_head: yes       # [yes :: must have a head report to post]
  branches: null          # branch names that can post comment
flags:
  client:
    paths:
      - "client/**/*.go"
    carryforward: false
  provider:
    paths:
      - "databricks/*.go"
    carryforward: false
  aws_integration:
    paths:
      - "databricks/*.go"
    carryforward: true
  azure_integration:
    paths:
      - "databricks/*.go"
    carryforward: true

adjusted old repo to new repo naming convention for aligning with terraform provider naming convention
  website/config.toml
  website/content/Installation/_index.md
  website/content/Overview/_index.md
  website/content/_index.md
  website/layouts/partials/logo.html
  website/layouts/partials/menu-footer.html
Due: none

added extra tests and fixed linting issues
  client/service/commands.go
  databricks/mounts.go
  databricks/mounts_test.go
  databricks/resource_databricks_aws_s3_mount.go
  databricks/resource_databricks_azure_adls_gen1_mount.go
  databricks/resource_databricks_azure_adls_gen2_mount.go
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_job_aws_test.go
  databricks/resource_databricks_job_azure_test.go
Due: client, provider, aws_integration, azure_integration

fixing typo and formatting issues
  client/service/commands.go
  databricks/mounts_test.go
Due: client

added test run command PR feedback to verify interface
  client/service/commands_test.go
  databricks/mounts_test.go
Due: none

fixed the build status svg and docs link
  README.md
Due: none

vendor bump aws-sdk-go 1.32.1 -> 1.32.2
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/modules.txt
Due: none

go mod tidy applied
  go.mod
  go.sum
  vendor/github.com/hashicorp/hcl/.gitignore
  vendor/github.com/hashicorp/hcl/Makefile
  vendor/github.com/mitchellh/copystructure/README.md
  vendor/github.com/spf13/afero/.travis.yml
Due: none

fixed notebook 429 issues, fixed the always non empty plans for notebooks, and added mutex temporarily for mkdirs to make the resource work properly when creating folders in databricks_notebook.
  client/service/client.go
  client/service/notebooks.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_folder.go
  databricks/resource_databricks_folder_aws_test.go
  databricks/resource_databricks_folder_azure_test.go
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_notebook_aws_test.go
  databricks/resource_databricks_notebook_azure_test.go
  databricks/testdata/tf-test-dbc.dbc
  databricks/testdata/tf-test-dbc2.dbc
  databricks/testdata/tf-test-html.html
  databricks/testdata/tf-test-jupyter.ipynb
  databricks/testdata/tf-test-python.py
  databricks/testdata/tf-test-python2.py
  databricks/testdata/tf-test-r.r
  databricks/testdata/tf-test-r2.r
  databricks/testdata/tf-test-scala.scala
  databricks/testdata/tf-test-scala2.scala
  databricks/testdata/tf-test-sql.sql
  databricks/testdata/tf-test-sql2.sql
  go.mod
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/modules.txt
  website/content/Resources/folder.md
  website/content/Resources/notebook.md
Due: client, provider, aws_integration, azure_integration

Use new workspace_url format + fix azure test
  .devcontainer/devcontainer.json
  Makefile
  databricks/azure_auth.go
  databricks/provider.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_job_aws_test.go
  databricks/resource_databricks_job_azure_test.go
  examples/simple-azure-tf-deployment/main.tf
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
  website/content/Provider/_index.md
Due: provider, aws_integration, azure_integration

Fix tests
  databricks/azure_auth.go
  databricks/resource_databricks_azure_blob_mount_test.go
Due: provider, aws_integration, azure_integration

Make logging optional
  integration-environment-azure/run.sh
Due: none

Remove comment
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Add spaces
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Fix fmt and fmt code
  .devcontainer/Dockerfile
  databricks/azure_auth.go
  databricks/provider.go
  go.sum
Due: provider, aws_integration, azure_integration

Add local install make command
  Makefile
Due: none

WIP Goreleaser publish on master
  .travis.yml
Due: none

Make local install use repo build
  Makefile
Due: none

Don't return an error from config not being set
  databricks/provider.go
  databricks/provider_test.go
Due: provider, aws_integration, azure_integration

Remove option
  databricks/provider_test.go
Due: none

Reproduce error seen in 119
  examples/simple-azure-tf-deployment/main.tf
  examples/simple-azure-tf-deployment/run.sh
Due: none

altered goreleaser and release workflow to do artifact signing
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

fixed indentation issue with yaml args for goreleaser
  .goreleaser.yml
Due: none

removed comma causing issue in the list
  .goreleaser.yml
Due: none

reduced the number of build target os
  .goreleaser.yml
Due: none

removed some ignore os that are not there in the build
  .goreleaser.yml
Due: none

updated the workflow to include GPG_FINGERPRINT env variable
  .github/workflows/release.yml
Due: none

remove release draft
  .goreleaser.yml
Due: none

Sign releases and conform release artifacts naming to hashicorp tf provider requirements (#121)
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

generate basic documentation to test terraform registry documentation renderingg
  docs/index.md
  docs/resources/secret_scope.md
Due: none

removed un needed tab
  docs/index.md
Due: none
