Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

generate basic terraform registry style documentation (#122)
  docs/index.md
  docs/resources/secret_scope.md
Due: none

Add resource wait retry for workspace create
  databricks/resource_databricks_mws_workspaces.go
Due: provider, aws_integration, azure_integration

Made vscode integration testing simpler
  .vscode/launch.json
Due: none

added read support for username/password for config files
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Add tests
  databricks/provider_test.go
Due: none

Format
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Add test
  databricks/provider_test.go
Due: none

fixed godownloader script to support new hashicorp terraform registry required changes
  godownloader-databricks-provider.sh
Due: none

Fix the godownloader script to support new changes to binaries required from hashicorp terraform registry (#125)
  godownloader-databricks-provider.sh
Due: none

Made errors concise and explainable
  .vscode/launch.json
  .vscode/settings.json
  client/service/client.go
Due: client

Fix formatting issue
  databricks/provider.go
  databricks/resource_databricks_mws_workspaces.go
Due: provider, aws_integration, azure_integration

cleaned up token request structs
  client/model/token.go
  client/service/tokens.go
  databricks/azure_auth.go
Due: client, provider, aws_integration, azure_integration

Added databricks_cluster_policy resource
  client/model/cluster_policies.go
  client/service/apis.go
  client/service/cluster_policies.go
  databricks/provider.go
  databricks/resource_databricks_cluster_policy.go
  databricks/resource_databricks_cluster_policy_test.go
  databricks/testdata/policy01.json
Due: client, provider, aws_integration, azure_integration

Cleaned up schema definition
  client/model/cluster_policies.go
  databricks/resource_databricks_cluster_policy.go
Due: client, provider, aws_integration, azure_integration

Added cluster policy documentation
  docs/resources/cluster_policy.md
  website/content/Resources/cluster_policy.md
Due: none

make fmt
  client/service/tokens.go
  databricks/azure_auth.go
Due: client, provider, aws_integration, azure_integration

Added some documentation
  docs/index.md
  website/content/_index.md
Due: none

keying composite literals
  client/service/tokens.go
  databricks/azure_auth.go
Due: client, provider, aws_integration, azure_integration

Remove redudant azure_auth
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
Due: none

Added databricks_permissions resource
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/provider.go
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
Due: client, provider, aws_integration, azure_integration

Register permissions api in the client
  client/service/apis.go
Due: client

Minor commenting tweaks
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/resource_databricks_permissions_test.go
  go.mod
Due: client

Add pkg/errors
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/modules.txt
Due: none

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
