Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

Added make install
  Makefile
  databricks/mounts.go
Due: provider, aws_integration, azure_integration

trigger build
  databricks/resource_databricks_permissions_test.go
Due: none

Fix code style violations
  CONTRIBUTING.md
  databricks/azure_auth.go
  databricks/mounts_test.go
  databricks/provider.go
  databricks/resource_databricks_group_instance_profile.go
  databricks/resource_databricks_group_member.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

Minor commenting tweaks
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/resource_databricks_permissions_test.go
  go.mod
Due: client

Add pkg/errors
  vendor/github.com/pkg/errors/.gitignore
  vendor/github.com/pkg/errors/.travis.yml
  vendor/github.com/pkg/errors/LICENSE
  vendor/github.com/pkg/errors/Makefile
  vendor/github.com/pkg/errors/README.md
  vendor/github.com/pkg/errors/appveyor.yml
  vendor/github.com/pkg/errors/errors.go
  vendor/github.com/pkg/errors/go113.go
  vendor/github.com/pkg/errors/stack.go
  vendor/modules.txt
Due: none

Register permissions api in the client
  client/service/apis.go
Due: client

Added databricks_permissions resource
  client/model/permissions.go
  client/service/permissions.go
  client/service/users.go
  databricks/provider.go
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
Due: client, provider, aws_integration, azure_integration

Added real unit tests for resource
  CONTRIBUTING.md
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
  databricks/utils_test.go
  go.sum
Due: provider, aws_integration, azure_integration

Minor commenting tweaks
  client/service/users.go
Due: client

Added databricks_permissions resource
  client/service/users.go
Due: client

test linter failing build
  databricks/resource_databricks_permissions.go
Due: provider, aws_integration, azure_integration

format it back
  databricks/resource_databricks_permissions.go
Due: provider, aws_integration, azure_integration

try fixing build
  .travis.yml
Due: none

remove fmt from lint
  Makefile
Due: none

remove go get goimports
  .travis.yml
Due: none

Fix Azure SP Personal Access Token Duration (#110)
  client/service/client.go
  client/service/tokens.go
  client/service/tokens_integration_test.go
  client/service/tokens_test.go
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_token.go
  docs/index.md
  website/content/Provider/_index.md
Due: client, provider, aws_integration, azure_integration

Bump github.com/aws/aws-sdk-go from 1.32.6 to 1.32.9;Bump github.com/Azure/go-autorest/autorest from 0.10.2 to 0.11.0;Bump github.com/Azure/go-autorest/autorest/adal from 0.8.3 to 0.9.0
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/.gitignore
  vendor/github.com/Azure/go-autorest/CHANGELOG.md
  vendor/github.com/Azure/go-autorest/GNUmakefile
  vendor/github.com/Azure/go-autorest/Gopkg.lock
  vendor/github.com/Azure/go-autorest/Gopkg.toml
  vendor/github.com/Azure/go-autorest/LICENSE
  vendor/github.com/Azure/go-autorest/README.md
  vendor/github.com/Azure/go-autorest/autorest/adal/go.mod
  vendor/github.com/Azure/go-autorest/autorest/adal/go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/authorization.go
  vendor/github.com/Azure/go-autorest/autorest/authorization_storage.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/date/go.mod
  vendor/github.com/Azure/go-autorest/autorest/date/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/go.mod
  vendor/github.com/Azure/go-autorest/autorest/go.sum
  vendor/github.com/Azure/go-autorest/autorest/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/azure-pipelines.yml
  vendor/github.com/Azure/go-autorest/doc.go
  vendor/github.com/Azure/go-autorest/logger/go.mod
  vendor/github.com/Azure/go-autorest/logger/go.sum
  vendor/github.com/Azure/go-autorest/logger/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/tracing/go.mod
  vendor/github.com/Azure/go-autorest/tracing/go.sum
  vendor/github.com/Azure/go-autorest/tracing/go_mod_tidy_hack.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/modules.txt
Due: none

AWS Go SDK update to 1.32.6 (#139)
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/.gitignore
  vendor/github.com/Azure/go-autorest/CHANGELOG.md
  vendor/github.com/Azure/go-autorest/GNUmakefile
  vendor/github.com/Azure/go-autorest/Gopkg.lock
  vendor/github.com/Azure/go-autorest/Gopkg.toml
  vendor/github.com/Azure/go-autorest/LICENSE
  vendor/github.com/Azure/go-autorest/README.md
  vendor/github.com/Azure/go-autorest/autorest/adal/go.mod
  vendor/github.com/Azure/go-autorest/autorest/adal/go.sum
  vendor/github.com/Azure/go-autorest/autorest/adal/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/authorization.go
  vendor/github.com/Azure/go-autorest/autorest/authorization_storage.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/date/go.mod
  vendor/github.com/Azure/go-autorest/autorest/date/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/autorest/go.mod
  vendor/github.com/Azure/go-autorest/autorest/go.sum
  vendor/github.com/Azure/go-autorest/autorest/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/azure-pipelines.yml
  vendor/github.com/Azure/go-autorest/doc.go
  vendor/github.com/Azure/go-autorest/logger/go.mod
  vendor/github.com/Azure/go-autorest/logger/go.sum
  vendor/github.com/Azure/go-autorest/logger/go_mod_tidy_hack.go
  vendor/github.com/Azure/go-autorest/tracing/go.mod
  vendor/github.com/Azure/go-autorest/tracing/go.sum
  vendor/github.com/Azure/go-autorest/tracing/go_mod_tidy_hack.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/modules.txt
Due: none

Clusters, libraries & jobs revamp
  .vscode/common.code-snippets
  client/model/cluster.go
  client/model/cluster_test.go
  client/model/library.go
  client/model/library_test.go
  client/service/clusters.go
  client/service/clusters_integration_test.go
  client/service/clusters_test.go
  client/service/commands_integration_test.go
  client/service/libraries.go
  client/service/libraries_integration_test.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_job.go
  databricks/utils.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

Porting cluster documentation for registry
  .vscode/common.code-snippets
  databricks/resource_databricks_cluster.go
  docs/resources/cluster.md
  docs/resources/cluster_policy.md
  docs/resources/instance_profile.md
Due: provider, aws_integration, azure_integration

fix sparkVersions list in databricks_instance_pool
  databricks/resource_databricks_instance_pool.go
Due: provider, aws_integration, azure_integration

make install to skip test
  .travis.yml
  Makefile
Due: none

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
