Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

Added some documentation
  docs/index.md
  website/content/_index.md
Due: none

Add resource wait retry for workspace create
  databricks/resource_databricks_mws_workspaces.go
Due: provider, aws_integration, azure_integration

added read support for username/password for config files
  databricks/provider.go
Due: provider, aws_integration, azure_integration

make fmt
  client/service/tokens.go
  databricks/azure_auth.go
Due: client, provider, aws_integration, azure_integration

Add missing resource check in resourceClusterPolicyRead
  databricks/resource_databricks_cluster_policy.go
  databricks/resource_databricks_cluster_policy_test.go
Due: provider, aws_integration, azure_integration

Apply review comments
  docs/index.md
Due: none

More correct implementation of 404-check
  databricks/resource_databricks_cluster_policy.go
Due: provider, aws_integration, azure_integration

Make README more user-friendly
  CONTRIBUTING.md
  README.md
Due: none

More links
  README.md
Due: none

Get workspace url from azure managment api
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Update comment
  databricks/azure_auth.go
Due: provider, aws_integration, azure_integration

Change from pointers
  databricks/azure_auth.go
Due: provider, aws_integration, azure_integration

Update docs
  databricks/azure_auth.go
  examples/simple-azure-tf-deployment/main.tf
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
  website/content/Provider/_index.md
  website/content/Resources/mws_workspaces.md
Due: provider, aws_integration, azure_integration

Assert env var is set
  databricks/azure_auth_test.go
Due: none

Reverse bool
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Use correct operator
  databricks/azure_auth_test.go
Due: none

bump aws-sdk-go from 1.32.2 to 1.32.6; bump terraform-plugin-sdk from 1.13.1 to 1.14.0; added travisbuddy notification hooks for public repo
  .travis.yml
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/v3model.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/timestamp.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.proto
  vendor/github.com/hashicorp/go-plugin/client.go
  vendor/github.com/hashicorp/go-plugin/go.mod
  vendor/github.com/hashicorp/go-plugin/go.sum
  vendor/github.com/hashicorp/go-plugin/grpc_client.go
  vendor/github.com/hashicorp/go-plugin/grpc_server.go
  vendor/github.com/hashicorp/go-plugin/grpc_stdio.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/gen.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_broker.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_broker.proto
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_controller.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_stdio.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_stdio.proto
  vendor/github.com/hashicorp/go-plugin/server.go
  vendor/github.com/hashicorp/go-plugin/testing.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/meta/meta.go
  vendor/google.golang.org/grpc/reflection/README.md
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.proto
  vendor/google.golang.org/grpc/reflection/serverreflection.go
  vendor/modules.txt
Due: none

Added real unit tests for resource
  CONTRIBUTING.md
  databricks/resource_databricks_permissions.go
  databricks/resource_databricks_permissions_test.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

trigger build
  databricks/resource_databricks_permissions_test.go
Due: none

Run all integration tests
  integration-environment-azure/run.sh
Due: none

Use KEY
  databricks/azure_auth_test.go
Due: none

Use new workspace_url format + fix azure test (#114)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Makefile
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  examples/simple-azure-tf-deployment/main.tf
  go.sum
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
  website/content/Resources/mws_workspaces.md
Due: provider, aws_integration, azure_integration

Use new workspace_url format + fix azure test (#114)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  Makefile
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  go.sum
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
  website/content/Resources/mws_workspaces.md
Due: provider, aws_integration, azure_integration

added skip for testMissingWorkspaceResources to run only if TF_ACC is set so it runs with both aws and azure integration tests
  databricks/utils_test.go
Due: none

bump aws-sdk-go from 1.32.2 to 1.32.6; bump terraform-plugin-sdk from 1.13.1 to 1.14.0; added travisbuddy notification hooks for public repo (#133)
  .travis.yml
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/defaults.go
  vendor/github.com/aws/aws-sdk-go/aws/endpoints/v3model.go
  vendor/github.com/aws/aws-sdk-go/aws/version.go
  vendor/github.com/aws/aws-sdk-go/private/protocol/timestamp.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.pb.go
  vendor/github.com/golang/protobuf/ptypes/empty/empty.proto
  vendor/github.com/hashicorp/go-plugin/client.go
  vendor/github.com/hashicorp/go-plugin/go.mod
  vendor/github.com/hashicorp/go-plugin/go.sum
  vendor/github.com/hashicorp/go-plugin/grpc_client.go
  vendor/github.com/hashicorp/go-plugin/grpc_server.go
  vendor/github.com/hashicorp/go-plugin/grpc_stdio.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/gen.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_broker.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_broker.proto
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_controller.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_stdio.pb.go
  vendor/github.com/hashicorp/go-plugin/internal/plugin/grpc_stdio.proto
  vendor/github.com/hashicorp/go-plugin/server.go
  vendor/github.com/hashicorp/go-plugin/testing.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/meta/meta.go
  vendor/google.golang.org/grpc/reflection/README.md
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.pb.go
  vendor/google.golang.org/grpc/reflection/grpc_reflection_v1alpha/reflection.proto
  vendor/google.golang.org/grpc/reflection/serverreflection.go
  vendor/modules.txt
Due: none

cleaned up makefile
  Makefile
Due: none

refactored tokenexpirytime to the api client config so the client is aware of expiry time of token as metadata; added getAndAssetEnv for generating the dbapi client for testing missing errors
  client/service/client.go
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider_test.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

added a int test missing cluster policy
  databricks/utils_test.go
Due: none

adjusted the headers on the index and added the id attribute for cluster policy
  docs/index.md
  docs/resources/cluster_policy.md
Due: none

corrected typos
  docs/index.md
Due: none

fix another credentials typo
  databricks/provider.go
Due: provider, aws_integration, azure_integration

removed the DBApiClientMetadata and added TokenCreateTime field for enabling testing, added default of 3600 seconds for pat token and added test for the default func; added docs
  client/service/client.go
  client/service/tokens.go
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_token.go
  docs/index.md
Due: client, provider, aws_integration, azure_integration

made the pat_token_duration_seconds tf docs same as github pages hosted docs
  docs/index.md
Due: none

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
