Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

Cluster instance pool fix (#174)
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_cluster_test.go
  website/content/Resources/cluster.md
  website/content/Resources/instance_pool.md
Due: provider, aws_integration, azure_integration

bumped autorest from v0.11.0 to v0.11.2 (#178)
  go.mod
  go.sum
  vendor/github.com/Azure/go-autorest/autorest/azure/async.go
  vendor/github.com/Azure/go-autorest/autorest/azure/environments.go
  vendor/github.com/Azure/go-autorest/autorest/version.go
  vendor/modules.txt
Due: none

fix docs for notebooks to identify that DBC is not a supported format.
  docs/resources/notebook.md
  website/content/Resources/notebook.md
Due: none

back out changes to resource_databricks_job.go
  databricks/resource_databricks_job.go
Due: provider, aws_integration, azure_integration

IPACLLists working, need to add the automated tests
  .devcontainer/devcontainer.json
  .gitignore
  client/model/dbfs.go
  client/model/ip_access_list.go
  client/model/workspace_configration.go
  client/model/workspace_configration_test.go
  client/service/apis.go
  client/service/client.go
  client/service/dbfs.go
  client/service/dbfs_integration_test.go
  client/service/dbfs_test.go
  client/service/ip_access_list.go
  client/service/workspace_configrations.go
  client/service/workspace_configrations_integration_test.go
  databricks/provider.go
  databricks/resource_databricks_ipaccesslist.go
  databricks/resource_databricks_ipaccesslists.go
  databricks/resource_databricks_workspace_conf.go
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/apply.sh
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/destroy.sh
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/main.tf
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/plan.sh
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/variables.tf
  examples/enterprise-azure-deployment/main.tf
  my_lame_ent_test.sh
Due: client, provider, aws_integration, azure_integration

Change HTTP communication methods
  .vscode/launch.json
  Makefile
  client/model/cluster.go
  client/model/library.go
  client/service/apis.go
  client/service/azure_auth.go
  client/service/azure_auth_test.go
  client/service/cluster_policies.go
  client/service/clusters.go
  client/service/commands.go
  client/service/dbfs.go
  client/service/dbfs_test.go
  client/service/groups.go
  client/service/http.go
  client/service/instance_pools.go
  client/service/instance_pools_test.go
  client/service/instance_profiles.go
  client/service/jobs.go
  client/service/libraries.go
  client/service/main_test.go
  client/service/mws_credentials.go
  client/service/mws_customer_managed_keys.go
  client/service/mws_networks.go
  client/service/mws_storage_configurations.go
  client/service/mws_workspaces.go
  client/service/notebooks.go
  client/service/permissions.go
  client/service/secret_acls.go
  client/service/secret_scopes.go
  client/service/secrets.go
  client/service/tokens.go
  client/service/users.go
  databricks/provider.go
  databricks/resource_databricks_group_member_test.go
  scripts/azure-integration/main.tf
  scripts/azure-integration/run.sh
Due: client, provider, aws_integration, azure_integration

Make lint pass and the thing compile
  client/service/apis.go
  client/service/azure_auth_test.go
  client/service/clusters.go
  client/service/dbfs_test.go
  client/service/groups.go
  client/service/http.go
  client/service/jobs.go
  client/service/libraries.go
  client/service/mws_customer_managed_keys.go
  client/service/notebooks.go
  client/service/permissions.go
  client/service/tokens.go
Due: client

Made tests pass
  Makefile
  client/service/apis.go
  client/service/azure_auth.go
  client/service/clusters.go
  client/service/clusters_test.go
  client/service/commands.go
  client/service/dbfs.go
  client/service/dbfs_test.go
  client/service/groups_test.go
  client/service/http.go
  client/service/main_test.go
  client/service/notebooks.go
  client/service/notebooks_test.go
  client/service/secret_acls.go
  client/service/secret_scopes.go
  client/service/tokens.go
  client/service/users_test.go
  databricks/resource_databricks_dbfs_file.go
Due: client, provider, aws_integration, azure_integration

More tests are passing
  CONTRIBUTING.md
  client/service/clusters_test.go
  client/service/commands_test.go
  client/service/dbfs_test.go
  client/service/http.go
  client/service/libraries_test.go
  client/service/users_test.go
  databricks/provider_test.go
  databricks/resource_databricks_cluster.go
Due: client, provider, aws_integration, azure_integration

make tests run again
  client/service/apis.go
Due: client

Testing for IP ACL Lists resource and start of ws conf
  .gitignore
  client/model/workspace_configration.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_ipaccesslist.go
  databricks/resource_databricks_ipaccesslist_test.go
  databricks/resource_databricks_workspace_conf_test.go
Due: client, provider, aws_integration, azure_integration

Disabling the test--looking for help on testing with options
  databricks/resource_databricks_workspace_conf_test.go
Due: none

More passing tests
  CONTRIBUTING.md
  client/model/instance_pool.go
  client/service/apis.go
  client/service/azure_auth.go
  client/service/cluster_policies.go
  client/service/clusters_test.go
  client/service/commands_test.go
  client/service/http.go
  client/service/instance_pools.go
  client/service/instance_pools_test.go
  client/service/libraries_test.go
  client/service/main_test.go
  client/service/test_util.go
  databricks/provider_test.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_cluster_policy.go
  databricks/resource_databricks_cluster_policy_test.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_dbfs_file_test.go
  databricks/resource_databricks_group_instance_profile_test.go
  databricks/resource_databricks_group_member_test.go
  databricks/resource_databricks_group_test.go
  databricks/resource_databricks_instance_pool.go
  databricks/resource_databricks_instance_profile_test.go
  databricks/resource_databricks_job_test.go
  databricks/resource_databricks_mws_credentials_mws_test.go
  databricks/resource_databricks_mws_networks_mws_test.go
  databricks/resource_databricks_mws_storage_configurations_mws_test.go
  databricks/resource_databricks_mws_workspaces_mws_test.go
  databricks/resource_databricks_notebook_test.go
  databricks/resource_databricks_permissions_test.go
  databricks/resource_databricks_scim_group_test.go
  databricks/resource_databricks_scim_user_test.go
  databricks/resource_databricks_secret_acl_test.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_secret_test.go
  databricks/resource_databricks_token_test.go
Due: client, provider, aws_integration, azure_integration

Greatly simplified workspace config down to a map of strings. Each config requires different logic, so I removed the model altogether and currently have mapping rules in resource
  client/model/workspace_configration.go
  client/model/workspace_configration_test.go
  client/service/workspace_configrations.go
  client/service/workspace_configrations_integration_test.go
  databricks/resource_databricks_workspace_conf.go
  databricks/resource_databricks_workspace_conf_test.go
Due: client, provider, aws_integration, azure_integration

Updated two failing tests. Made a few modifications based on the PR comments.
  databricks/resource_databricks_workspace_conf.go
  databricks/resource_databricks_workspace_conf_test.go
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/main.tf
  my_lame_ent_test.sh
Due: provider, aws_integration, azure_integration

Removed section called out in PR avoiding setting interface prior to read
  databricks/resource_databricks_ipaccesslist.go
Due: provider, aws_integration, azure_integration

Updated example and added first pass at ip acl lists documentation
  docs/resources/ip_acl_lists.md
  examples/enterprise-azure-deployment/enterprise-workspace-deploy/main.tf
Due: none

Fixed arguments
  docs/resources/ip_acl_lists.md
Due: none

Adding workspace config and fixing one more typo on ip_acl_lists.md
  docs/resources/ip_acl_lists.md
  docs/resources/workspace_config.md
Due: none

Fixing URLS
  docs/resources/ip_acl_lists.md
  docs/resources/workspace_config.md
Due: none

Added unit tests for cluster policies
  client/model/secret.go
  client/service/azure_auth.go
  client/service/commands_test.go
  client/service/permissions.go
  client/service/secret_scopes.go
  client/service/secrets.go
  client/service/test_util.go
  databricks/provider_test.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_cluster_policy.go
  databricks/resource_databricks_cluster_policy_test.go
  databricks/resource_databricks_cluster_test.go
  databricks/resource_databricks_group_member_test.go
  databricks/resource_databricks_job_test.go
  databricks/resource_databricks_permissions_test.go
  databricks/resource_databricks_secret.go
  databricks/resource_databricks_secret_scope.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_secret_test.go
  databricks/tools_test.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

Added unit tests for tokens
  client/model/token.go
  client/service/tokens.go
  databricks/resource_databricks_token.go
  databricks/resource_databricks_token_test.go
  databricks/tools_test.go
Due: client, provider, aws_integration, azure_integration

Added test coverage for secret acls
  client/model/secret.go
  client/service/secret_acls.go
  databricks/resource_databricks_secret_acl.go
  databricks/resource_databricks_secret_acl_test.go
  databricks/resource_databricks_secret_scope.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/tools_test.go
  databricks/utils_test.go
Due: client, provider, aws_integration, azure_integration

Added coverage for secrets
  client/model/secret.go
  client/service/secrets.go
  databricks/resource_databricks_secret_test.go
  databricks/utils_test.go
Due: client

added more notebook tests
  databricks/resource_databricks_notebook_test.go
  databricks/tools_test.go
Due: none

Added some mws tests
  databricks/resource_databricks_mws_workspaces.go
  databricks/resource_databricks_mws_workspaces_mws_test.go
  databricks/tools_test.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

added jobs resource coverage
  client/model/job.go
  client/service/jobs.go
  databricks/resource_databricks_job_test.go
  databricks/resource_databricks_mws_storage_configurations_test.go
  databricks/resource_databricks_mws_workspaces_test.go
  databricks/tools_test.go
Due: client

added cluster tests
  databricks/resource_databricks_cluster_test.go
  databricks/tools_test.go
Due: none

added coverage for networks
  databricks/resource_databricks_mws_networks.go
  databricks/resource_databricks_mws_networks_test.go
  databricks/tools_test.go
  databricks/utils.go
Due: provider, aws_integration, azure_integration

added credentials coverage
  databricks/resource_databricks_mws_credentials_test.go
  databricks/tools_test.go
Due: none

added tests for instance profiles
  client/model/instance_profile.go
  client/service/instance_profiles.go
  databricks/resource_databricks_instance_profile_test.go
  databricks/tools_test.go
Due: client

added instance pool unit tests
  databricks/resource_databricks_instance_pool_test.go
  databricks/tools_test.go
Due: none

databricks_group coverage
  databricks/resource_databricks_group.go
  databricks/resource_databricks_group_test.go
  databricks/tools_test.go
Due: provider, aws_integration, azure_integration

added some tests for blob mounts
  .travis.yml
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

Add support for importing databricks_instance_profile
  databricks/resource_databricks_instance_profile.go
Due: provider, aws_integration, azure_integration

Increase IdleConnTimeout and TLSHandshakeTimout for longer running terraform runs
  client/service/client.go
Due: client

Increased API connection timeouts and support instance profile import (#199)
  client/service/client.go
  databricks/resource_databricks_instance_profile.go
Due: client, provider, aws_integration, azure_integration

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
