Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

Add logging output from retry and acctest
  .gitignore
  client/service/client.go
  integration-environment-azure/run.sh
Due: client

Update handling in getenv.sh
  scripts/getenv.sh
Due: none

Wait on API health on provider start
  databricks/azure_auth.go
Due: provider, aws_integration, azure_integration

Switch to pointer functions
  client/service/client.go
Due: client

Fix not calling setup when creating config. Remove validateapi workaround.
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
Due: provider, aws_integration, azure_integration

Configure the retry behaviour
  client/service/client.go
Due: client

Handle retry case when response is nil
  client/service/client.go
Due: client

Add ARM_ env var fallbacks
  databricks/provider.go
  databricks/provider_test.go
Due: provider, aws_integration, azure_integration

Update docs
  website/content/Provider/_index.md
Due: none

update vendors files for terraform-sdk 0.12.0 -> 0.13.0 and go-autorest 0.10.0 -> 0.10.1
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/hashcode/hashcode.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/httpclient/useragent.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/meta/meta.go
  vendor/modules.txt
Due: none

Add links to docs
  README.md
Due: none

replace state func in content for notebook with validate
  databricks/resource_databricks_notebook.go
Due: provider, aws_integration, azure_integration

notebook: restore statefunc with ignore err
  databricks/resource_databricks_notebook.go
Due: provider, aws_integration, azure_integration

add test
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
Due: provider, aws_integration, azure_integration

test existence of cluster
  databricks/resource_databricks_azure_blob_mount_test.go
Due: none

finish up test for mount/delete/remount
  databricks/resource_databricks_azure_blob_mount_test.go
Due: none

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
