Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

Fix Dockerfile compatibility with Alpine Linux
  Dockerfile
Due: none

Added Databricks CLI config file fallback
  databricks/provider.go
  databricks/provider_test.go
  databricks/testdata/.databrickscfg
  go.mod
  go.sum
Due: provider, aws_integration, azure_integration

mounts now handle deleted cluster correctly
  databricks/resource_databricks_azure_adls_gen2_mount.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_cluster.go
  databricks/utils.go
  databricks/utils_test.go
Due: provider, aws_integration, azure_integration

reverting change to the test clientid
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
Due: none

added documentation for mws resources
  website/content/Provider/_index.md
  website/content/Resources/mws_credentials.md
  website/content/Resources/mws_networks.md
  website/content/Resources/mws_storage_configurations.md
  website/content/Resources/mws_workspaces.md
Due: none

renamed e2 to MWS in service
  client/service/mws_credentials.go
  client/service/mws_credentials_integration_test.go
  client/service/mws_customer_managed_keys.go
  client/service/mws_customer_managed_keys_integration_test.go
  client/service/mws_networks.go
  client/service/mws_networks_integration_test.go
  client/service/mws_storage_configurations_integration_test.go
  client/service/mws_workspaces_integration_test.go
Due: client

patch support for workspace to use customer managed key, mws_workspaces resource can now use customer managed key with a "" default, and updated the docs to reflect cmk
  client/service/mws_workspaces.go
  databricks/resource_databricks_mws_workspaces.go
  website/content/Resources/mws_storage_configurations.md
  website/content/Resources/mws_workspaces.md
Due: client, provider, aws_integration, azure_integration

fixed useragent and moved to begining of config object creation
  databricks/provider.go
Due: provider, aws_integration, azure_integration

removed linebreak from fmt
  databricks/provider.go
Due: provider, aws_integration, azure_integration

small resource naming doc fix
  website/content/Resources/mws_credentials.md
  website/content/Resources/mws_networks.md
  website/content/Resources/mws_storage_configurations.md
  website/content/Resources/mws_workspaces.md
Due: none

added logic to prevent mount point duplication
  databricks/mounts.go
Due: provider, aws_integration, azure_integration

fixing logic in blob mount
  databricks/mounts.go
Due: provider, aws_integration, azure_integration

fix lint issues
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
Due: none

fixed merge conflicts
  databricks/provider.go
Due: provider, aws_integration, azure_integration

added test to demonstrate error for invalid config file path, and expanded the bit.ly links
  databricks/provider.go
  databricks/provider_test.go
Due: provider, aws_integration, azure_integration

vendored the packages required for this build
  vendor/github.com/fatih/color/go.mod
  vendor/github.com/fatih/color/go.sum
  vendor/github.com/mattn/go-colorable/go.test.sh
  vendor/github.com/mattn/go-isatty/go.test.sh
  vendor/github.com/mattn/go-isatty/isatty_plan9.go
  vendor/github.com/mattn/go-isatty/isatty_tcgets.go
  vendor/github.com/mattn/go-isatty/renovate.json
  vendor/golang.org/x/crypto/ssh/internal/bcrypt_pbkdf/bcrypt_pbkdf.go
  vendor/golang.org/x/sys/cpu/cpu_aix.go
  vendor/golang.org/x/sys/cpu/syscall_aix_gccgo.go
  vendor/golang.org/x/sys/internal/unsafeheader/unsafeheader.go
  vendor/golang.org/x/sys/unix/errors_freebsd_arm64.go
  vendor/golang.org/x/sys/unix/syscall_illumos.go
  vendor/golang.org/x/sys/unix/zsyscall_illumos_amd64.go
  vendor/gopkg.in/ini.v1/.gitignore
  vendor/gopkg.in/ini.v1/LICENSE
  vendor/gopkg.in/ini.v1/Makefile
  vendor/gopkg.in/ini.v1/README.md
  vendor/gopkg.in/ini.v1/codecov.yml
  vendor/gopkg.in/ini.v1/data_source.go
  vendor/gopkg.in/ini.v1/deprecated.go
  vendor/gopkg.in/ini.v1/error.go
  vendor/gopkg.in/ini.v1/file.go
  vendor/gopkg.in/ini.v1/helper.go
  vendor/gopkg.in/ini.v1/ini.go
  vendor/gopkg.in/ini.v1/key.go
  vendor/gopkg.in/ini.v1/parser.go
  vendor/gopkg.in/ini.v1/section.go
  vendor/gopkg.in/ini.v1/struct.go
Due: none

Bump github.com/stretchr/testify from 1.5.1 to 1.6.1; Bump github.com/hashicorp/terraform-plugin-sdk from 1.13.0 to 1.13.1; Bump github.com/Azure/go-autorest/autorest from 0.10.1 to 0.10.2
  go.mod
  go.sum
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/schema/resource_data.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/schema/serialize.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/meta/meta.go
  vendor/github.com/stretchr/testify/LICENSE
  vendor/github.com/stretchr/testify/assert/assertion_format.go
  vendor/github.com/stretchr/testify/assert/assertion_forward.go
  vendor/github.com/stretchr/testify/assert/assertion_order.go
  vendor/github.com/stretchr/testify/assert/assertions.go
  vendor/github.com/stretchr/testify/assert/http_assertions.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/go.mod
  vendor/gopkg.in/yaml.v2/parserc.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/gopkg.in/yaml.v2/yamlprivateh.go
  vendor/modules.txt
Due: none

fixed ebs volume count issue of being 0 and added integration tests for both azure and aws
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_job_aws_test.go
  databricks/resource_databricks_job_azure_test.go
Due: provider, aws_integration, azure_integration

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
