Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider

added comments to makefile for the acceptance tests and added more info to the make target's echo statement
  Makefile
Due: none

added the environment variables to the enduser provider docs
  website/content/Provider/_index.md
Due: none

updated vendor files
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/resource/testing.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/schema/set.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/meta/meta.go
  vendor/modules.txt
Due: none

azure integration tests via travis
  .gitignore
  .travis.yml
  Makefile
  codecov.yml
  databricks/provider_test.go
Due: none

changed to short verbose
  Makefile
Due: none

fixed user agent to associate provider user agent for azure client as well & included aws integration testing for travis
  .travis.yml
  databricks/provider.go
Due: provider

moved cloud integration tests to same stage
  .travis.yml
Due: none

type is in push api or cron run integration tests but do not run them on pull requests, just skip them
  .travis.yml
Due: none

updated readme to include codecov badge and docs footer [skip ci]
  README.md
  website/layouts/partials/menu-footer.html
Due: none

Add initailize filesystem. Fix error swallow #37. Fix mount path diff error #38.
  databricks/mounts.go
  databricks/resource_databricks_azure_adls_gen2_mount.go
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
Due: provider

fixup remove golangci config
  .golangci.yml
Due: none

Added config for debugging. Removed destroy from test
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  integration-environment-azure/run.sh
Due: none

Remove slash validation as mounting root of the datalake is allowed
  databricks/resource_databricks_azure_adls_gen2_mount.go
Due: provider

Add readme and create passing test for mounts
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
  integration-environment-azure/README.MD
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
Due: none

Add getenv.sh to load .env values
  scripts/getenv.sh
Due: none

Revert use of .env in devcontainer
  .devcontainer/devcontainer.json
Due: none

Remove devcontainer env. Check destroy on happy path
  .devcontainer/devcontainer.json
  databricks/resource_databricks_azure_adls_gen2_mount_test.go
Due: none

Update timeout to 35mins as cluster creation can take a while
  integration-environment-azure/run.sh
Due: none

Switch to pointer functions
  client/service/client.go
Due: client

Fix not calling setup when creating config. Remove validateapi workaround.
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/provider.go
Due: provider

Configure the retry behaviour
  client/service/client.go
Due: client

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
