Repository databricks/terraform-provider-databricks: changes, and which Codecov flags are due for each by the changed paths.
All: client, provider, aws_integration, azure_integration

reset environment
  integration-environment-azure/prereqs.tf
  integration-environment-azure/run.sh
Due: none

reset env
  integration-environment-azure/run.sh
Due: none

fixes to bugs and new test step
  databricks/resource_databricks_secret.go
  databricks/resource_databricks_secret_test.go
Due: provider, aws_integration, azure_integration

add eol at eof
  integration-environment-azure/prereqs.tf
Due: none

check the mount exists in databricks workspace as well.
  databricks/resource_databricks_azure_blob_mount_test.go
Due: none

Add single_user_name
  client/model/cluster.go
  databricks/resource_databricks_cluster.go
Due: client, provider, aws_integration, azure_integration

Update docs
  website/content/Resources/cluster.md
Due: none

Add note re ADLS access
  website/content/Resources/cluster.md
Due: none

Udpate ADLS access comment
  website/content/Resources/cluster.md
Due: none

add sensitive attribute to key output
  integration-environment-azure/prereqs.tf
Due: none

documentation updates
  website/content/Resources/cluster.md
  website/content/Resources/notebook.md
Due: none

further updates to docs
  website/content/Resources/notebook.md
Due: none

suggested docs and code changes regarding node_type_id and instance_pool_id
  databricks/resource_databricks_cluster.go
  website/content/Resources/cluster.md
Due: provider, aws_integration, azure_integration

add Jupyter as a valid notebooks source, and revert relevant docs changes
  databricks/resource_databricks_notebook.go
  website/content/Resources/notebook.md
Due: provider, aws_integration, azure_integration

update notebook doc to better explain JUPYTER option.
  website/content/Resources/notebook.md
Due: none

Avoid create on plan
  databricks/azure_auth.go
Due: provider, aws_integration, azure_integration

Handle initialization after workspace creation
  client/service/apis.go
  databricks/azure_auth.go
Due: client, provider, aws_integration, azure_integration

Check if EnsureConfig is set before calling
  client/service/apis.go
Due: client

Fix errors.As check
  databricks/azure_auth.go
Due: provider, aws_integration, azure_integration

update notebook doc with relationships between format parameter and file extensions
  website/content/Resources/notebook.md
Due: none

added the customer auth function to authenticate in provider.go during the configuration process, and altered the other resources to refer to the pointer of the client object rather than the value
  databricks/azure_auth.go
  databricks/azure_auth_test.go
  databricks/data_source_databricks_dbfs_file.go
  databricks/data_source_databricks_dbfs_file_paths.go
  databricks/data_source_databricks_default_user_roles.go
  databricks/data_source_databricks_notebook.go
  databricks/data_source_databricks_notebook_paths.go
  databricks/data_source_databricks_zones.go
  databricks/mounts.go
  databricks/provider.go
  databricks/provider_test.go
  databricks/resource_databricks_aws_s3_mount.go
  databricks/resource_databricks_azure_adls_gen1_mount.go
  databricks/resource_databricks_azure_adls_gen2_mount.go
  databricks/resource_databricks_azure_blob_mount.go
  databricks/resource_databricks_azure_blob_mount_test.go
  databricks/resource_databricks_cluster.go
  databricks/resource_databricks_dbfs_file.go
  databricks/resource_databricks_dbfs_file_sync.go
  databricks/resource_databricks_instance_pool.go
  databricks/resource_databricks_instance_profile.go
  databricks/resource_databricks_job.go
  databricks/resource_databricks_notebook.go
  databricks/resource_databricks_scim_group.go
  databricks/resource_databricks_scim_group_aws_test.go
  databricks/resource_databricks_scim_group_azure_test.go
  databricks/resource_databricks_scim_user.go
  databricks/resource_databricks_scim_user_aws_test.go
  databricks/resource_databricks_scim_user_azure_test.go
  databricks/resource_databricks_secret.go
  databricks/resource_databricks_secret_acl.go
  databricks/resource_databricks_secret_acl_test.go
  databricks/resource_databricks_secret_scope.go
  databricks/resource_databricks_secret_scope_test.go
  databricks/resource_databricks_secret_test.go
  databricks/resource_databricks_token.go
  databricks/resource_databricks_token_test.go
  databricks/utils.go
Due: provider, aws_integration, azure_integration

fixes prefix missing the period
  databricks/resource_databricks_job.go
Due: provider, aws_integration, azure_integration

Path conditions:
  client: any of: client/**/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  provider: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  aws_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
  azure_integration: any of: databricks/*.go, but not: client/**/*test.go, databricks/*test.go, vendor/**/*, website/**/*, dist/**/*, examples/**/*
